__pycache__/
*.pyc
.ipynb_checkpoints/

# Datasets / large data
*.csv
*.tsv
*.fasta
*.fa
*.fastq
*.zip
*.tar
*.tar.gz
*.db

# Model checkpoints
*.pt
*.pth
*.ckpt
*.bin
*.safetensors

# Training outputs
checkpoints/
model_checkpoints/
outputs/
runs/
logs/
wandb/

# Python environments
.venv/
venv/
env/
